<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %c - %msg%n</pattern>
    </appender>
    <appender name="ES" class="tech.hry.logclient.logback.ESAppender4LogBack">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %c - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ES"/>
    </root>
</configuration>